# Node modules
node_modules/
package-lock.json

# Firebase credentials
*firebase-adminsdk*.json
firebase-service-account.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment files
.env
.env.local
